/* CSS */

html, body {
	margin: 0;
	padding: 0;
	background-color: #F9F9F9;
}




/* 
 *  
 *  Header 
 *
 */ 

#header {
	background-color: #E4E4E4;
	font-size: 30px;
	height:300px;
}

#header .container {
	padding-top: 75px;
	text-align: center;
}

#header .container img {
/*
	position:absolute;
	top:100px;
	left:100px;
*/
	display:block;
	margin:auto;
	top:50px;
	height: 350px;
	border:1px black solid;

}

#linkedin {
	position:absolute;
	right:543px;
	top:75px;
	height:60px;
	width:60px;
}

#yourname {
/* 
	border:2px dashed green; 
*/
	display:block;
	text-align: center;
	margin-top:150px;
	font-size: 30px;
	font-family: garamond;
}





.container {
	margin-bottom: 10px;
}


/* 
 *  
 *  Education 
 *
 */ 

.education { /* combination of the "Education" title and the box underneath */
	display: inline-block; 
	/* border:green dashed 2px; */
	vertical-align: top;
	margin-left: 150px;
	font-family: garamond;
}

.education h2 { /* title only */
	font-size:40px;
}

.education .container { /* container only */
	border: #c0c0c0 solid 1px;
	width:550px;
	height:412px;
	border-radius: 5px;
	background-color: white;
	margin-top:5px;
}







/* 
 *  
 *  Experience 
 *
 */ 

.experience { /* title and container */
	display: inline-block; 
	/* border:green dashed 2px; */
	margin-left: 10px;
	font-family: garamond;
	margin-top: -3px;
}

.experience h2 { /* title only */
}


.experience .container { /* container only */ 

	border: #c0c0c0 solid 1px;
	width:550px;
	height:200px;
	border-radius: 5px;
	background-color: white;
	margin-top: 6px;
}
 
ul {
	margin-left: 1.2em;
	display: inline-block;
}

.Quicken {
	display: inline-block;
}

/*
li {
	cursor:pointer;
}
*/ 
/*
ul.arrow_bullets  {
	font-size: 12px;
	margin-left: -30px;
	list-style-image: url(http://www.hydropool.com/images/arrow_next.gif);
	list-style-position: inside; 
}
*/

.eduexp { /* This is the div containing both the education and experience divs */
	white-space: nowrap;
	/* border:red dashed 3px; */
	vertical-align: top;
}

img {
	display:inline-block;
}


/* Skills and Interests */

.skills_interests {
	display: block;
	/* background-color: #E4E4E4; */
	margin-bottom:50px;
	font-family: garamond;

}

.skills_interests h1 {
	text-align: center;
}

.skills_interests .container { /* container only */ 

	border: #c0c0c0 solid 1px;
	width:900px;
	height:145px;
	border-radius: 5px;
	background-color: white;
	margin-top: 6px;
	display: block;
	margin:auto;
}

.skill_int_bubbles {
	font-size: 25px;
	border:black solid 1px; 
	display:table-cell; 
	height: 100%;
	border-radius:5px;
	margin:5px;
	display: inline-block;
	padding-left:10px;
	padding-right: 10px;
	margin-top: 10px;
	background-color: #f2ffff;
}


