/* CSS */
/*
* {
	border:red 1px dashed;
}
*/


/* Intro */

.Intro {
	background-color:#B0C4DE;
	height:155px;

}

.Intro img {
	height:100px;
	width:100px;
	margin-top:25px;	
	margin-left:25px;
	border:4px gray solid;
	border-radius:500px;

}

.Intro div {
	display:inline-block;
}

.Intro h1 {
	font-size:65px;
	color:#191919;
	margin-left:160px;
	margin-top:-93px;	
	position:absolute;
}

/* Education */

.Education  {
	/*border:5px green dashed;*/
	background-color: #999999;
	padding-top: 0px;
	padding-bottom: 25px;
}

#umich {
	font-size: 25px;
	display:inline-block;
	border:2px solid #4c4c4c;
	border-radius:5px;
	padding:20px;
	/*position:absolute;*/

	margin-left:25px;
	margin-top: 25px;
	padding-left: 50px;
	padding-right: 40px;
	background-color: #e5e5e5;
}

#courses {
	font-size: 25px;
	display:inline-block;
	border:2px solid #4c4c4c;
	border-radius: 5px;
	padding:20px;
	/*position:absolute;*/
	background-color: #e5e5e5;

	margin-left:50px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-left: 60px;
	padding-right: 160px;
	width:400px;
	height:375px;

}

#umich h1 {
}

#umich li {
	font-size: 20px;
}

#courses h1 {
	white-space:nowrap;	
}

#courses li {
	font-size: 35px;
	width: 500px;
	word-wrap:break-word;
	padding:15px;	
}





